li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    size: large;
}

#contenedor{
    background-color: antiquewhite;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 25px;
}

.contenido{
    background-color: aquamarine;
}

.cabecera{
    border: red solid 3px; /* color type width */
}

.destacado{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    background-color: beige;
}
